@import "../common.scss";
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.pagination-button {
    color: $background;
    background-color: transparent;
    border: 2px solid $background;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination-button:disabled {
    color: gray;
    border-color: gray;
    cursor: not-allowed;
}

.pagination-button:hover {
    background-color: $background;
    color: white;
}

.current-page {
    width: 300px;
    padding-right: 24px;
}

.previous-button {
    margin-right: auto;

}

.next-button {
    margin-left: auto;
}