$main: #757575;
$secondary: #505050;
$button: #acb5bd;
$background: #acb5bd;

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
  height: 100%;
}

.editPage {
  width: 100%;
  display: table;
}

thead {
  height: 48px;

  tr {
    th {
      color: $main;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
    }
  }
}

tr {
  background-color: white;
  border-bottom: 1pt solid #f1f1f1;
}

th,
td {
  width: calc(912px / 4);
  max-width: calc(912px / 4);
  overflow: hidden;
  text-align: left;

  div {
    padding-left: 24px;
    max-width: 176px;
  }
}


tbody {
  color: $secondary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  tr {
    height: 72px;
  }
}